process {
/*
generic process parameters
*/
    executor = 'slurm'
    clusterOptions = '--qos=general'
    queue = 'general'
    memory = '10G' 
    cpus = 4 

/*
named process requirements
*/    
    withName: align_minimap {
        module = 'minimap2/2.22'
        memory = '25G' 
        cpus = 24 
        queue = 'general'
    }
    withName: centrifuge {
        module = 'centrifuge/1.0.4-beta'
        memory = '10G' 
        cpus = 12 
        queue = 'general'
    }
    withName: indexbam {
        module = 'samtools/1.12'
        memory = '5G' 
        cpus = 1 
        queue = 'general'
    }    
    withName: medaka_polish {
        conda = '/home/FCAM/nreid/miniconda3/envs/medaka'
        memory = '60G' 
        cpus = 12 
        queue = 'general'
    }
    withName: nanoplot {
        module = 'NanoPlot/1.33.0'
        memory = '10G' 
        cpus = 12 
        queue = 'general'
    }
    withName: shasta {
        module = 'shasta/0.7.0'
        memory = '500G' 
        cpus = 36 
        queue = 'himem2'
        clusterOptions = '--qos=himem'  
    }
    withName: sortbam {
        module = 'samtools/1.12'
        memory = '10G' 
        cpus = 8 
        queue = 'general'
    }    
/*
labeled process requirements
*/
    withLabel: busco {
        module = 'busco/4.0.2'
        memory = '60G' 
        cpus = 12 
        queue = 'general'
    }
    withLabel: quast {
        module = 'quast/5.0.2'
        memory = '10G' 
        cpus = 8 
        queue = 'general'
    }
    withLabel: simple{
        memory = 10G
        cpus = 4
    }
}